
Flask
Flask-Cors
pyngrok
google-generativeai
torch
torchvision
torchaudio
einops
transformers
tqdm
omegaconf
diffusers
accelerate
av
decord
opencv-python
scikit-image
mediapipe
imageio
imageio[pyav]
moviepy
rembg
